{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
        body{
        background-color:#708090;
        color:black;
        }
    </style>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      <b>Movies Club</b>
  </a>
</nav>
{% block body %}
{% endblock %}
</body>
</html>